<!-- components/contact-info.html -->
 <div class="contact-info-block">
    <section class="contact-info">
        <h2 class="section-title">CONTACT INFO:</h2>
        <ul>
            <li>georgewallden@outlook.com</li>

            <!-- Links for PDF version -->
            <!-- <div class="contact-item">
                <li>linkedin.com/in/george-wallden</li>
            </div>

                <div class="contact-item">
                <li>github.com/georgewallden</li>
            </div> -->

            <li>www.GeorgeWallden.com</li>
            <li>Tinton Falls, NJ 07753</li>
            <li>973-856-4811</li>

            <!-- Links for Web Version -->
            <div class="contact-item">               
                <li><a href="https://www.linkedin.com/in/george-wallden/" style="color: #0077b5; text-decoration: none;" target="_blank">LinkedIn</a></li>
            </div>

            <div class="contact-item">
                <li><a href="https://www.github.com/georgewallden" style="color: #0077b5; text-decoration: none;" target="_blank">GitHub</a></li>
            </div>
        </ul>
    </section>
</div>