<!-- components/core-technologies.html -->

<div class="styled-list-block">
    <section>
        <h2 class="section-title">CORE TECHNOLOGIES</h2>
        <h3 class="section-title" style="font-size: 14px; margin-top: 15px;">LANGUAGES & APIs</h3>
        <ul class="styled-list">
            <li>SQL / MS SQL Server</li>
            <li>Python / FastAPI</li>
            <li>JavaScript / React, Angular</li>
            <li>AI APIs: OpenAPI, AnthropicAPI</li>
            <li>Frontend: HTML, CSS</li>
        </ul>

        <h3 class="section-title" style="font-size: 14px; margin-top: 15px;">TOOLS & COLLABORATION</h3>
        <ul class="styled-list">
            <li>Agile Methodology (JIRA)</li>
            <li>Version Control – Git, GitHub</li>
            <li>Automation: N8N</li>
            <li>Training and Mentoring</li>
        </ul>
    </section>
</div>