<!-- components/core-technologies.html -->

<div class="styled-list-block">
    <section>
        <h2 class="section-title">CORE TECHNOLOGIES</h2>

        <h3 class="tech-subtitle">AI & Machine Learning</h3>
        <ul class="styled-list">
            <li>PyTorch / Transformers (Hugging Face)</li>
            <li>Explainable AI (Captum)</li>
            <li>AI APIs: OpenAI, Anthropic</li>
        </ul>

        <h3 class="section-title" style="font-size: 14px; margin-top: 15px;">LANGUAGES & APIs</h3>
        <ul class="styled-list">
            <li>SQL / MS SQL Server</li>
            <li>Python / FastAPI</li>
            <li>TypeScript / React, Angular</li>
            <li>Frontend: HTML, CSS, JavaScript </li>
        </ul>

        <h3 class="section-title" style="font-size: 14px; margin-top: 15px;">TOOLS & COLLABORATION</h3>
        <ul class="styled-list">
            <li>Agile Methodology (JIRA)</li>
            <li>Version Control – Git, GitHub</li>
            <li>Training and Mentoring</li>
        </ul>
    </section>
</div>