<!-- components/core-technologies.html -->

<div class="styled-list-block">
    <section>

        <h3 class="section-title" style="font-size: 14px; margin-top: 15px;">LANGUAGES & APIs</h3>
        <ul class="styled-list">
            <li>SQL / MS SQL Server / PostgreSQL (PgVector)</li>
            <li>TypeScript / React, Angular</li>
            <li>Frontend: HTML, CSS, JavaScript </li>
            <li>Backend: .NET / Python / FastAPI</li>
        </ul>

        <h3 class="section-title" style="font-size: 14px; margin-top: 15px;">Infrastructure & DevOps</h3>
        <ul class="styled-list">
            <li>Terraform</li>
            <li>Docker</li>
            <li>Git</li>
            <li>GitHub Actions (CI/CD)</li>
            <li>Automation: N8N</li>
        </ul>
    </section>
</div>