<!-- components/key-competencies.html -->
<div class="styled-list-block">
    <section>
        <h2 class="section-title">KEY COMPETENCIES</h2>
        <ul class="styled-list">
            <li>Cloud Architecture</li>
            <li>Containerization (Docker)</li>
            <li>Infrastructure as Code (IaC)</li>       
            <li>Full-Stack Development</li>
            <li>UI/UX Design</li>
            <li>Database Optimization</li>
            <li>Prompt Engineering</li>
        </ul>
    </section>
</div>